@import "theme.css";
@import "fonts.css";
@import "reset.css";
@import "./Components/index.css";

html{
 min-height: 100vh;   
}
.page-wrapper{    
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.content{
    flex: 1;
}

.container{
    max-width: 1126px;
    margin: 0 auto;
}