.contact-wrapper {
   margin-bottom: 10px;
}

.container {  
  
}

.container-bottom {
    display: flex;    
}

.container-left {
    padding-right: 50px;    
}

.logotipe {    
    margin-bottom: 8px;
    padding-top: 5px;
}

.container-left__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
}

.container-left__address {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
}

.container-right {
   
}

.contact {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;
    margin-bottom: 15px;
    padding-top: 20px;
}

.contact__list {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;
}