.footer-wrapper {       
        height: 64px;     
        background: #EE4248;        
}

.container {

}

.footer__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: center;
        padding: 22px 0;        
}