.making-wrapper {
    margin-bottom: 100px;
}

.container {}

.making {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.making-block {
    margin-top: 50px;
}

.making__tittle {
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: var(--black);
    margin-bottom: 24px;
}

.making__tittle.red {
    color: var(--red);
}

.making__text {
    font-size: 20px;
    line-height: 29px;
    color: var(--grey-main);
    margin-bottom: 24px;
}

.button-filled-red {}

.block__img {
    width: 550px;
    margin-right: 10px;
}