.navbar-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-left {
    align-items: center;    
}

.navbar-logotipe {

}

.navbar-center {
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu__item {   
    font-size: 18px;
    line-height: 21px;
}

.navbar-menu__item:not(:last-child) {
    margin-right: 50px;
}

.navbar-social {
    display: flex;
    align-items: center;   
}

.navbar-social-link {
    
}

.navbar-social-link:not(:last-child) {
    margin-right: 24px;
}

.navbar-social-link__img {

}







