.about-products {
    
}

.about-products__tittle {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: var(--black);
    margin-bottom: 17px;
}

.about-column {
    display: flex;
    justify-content: center;
}

.about-colum__item {
    width: 363px;
    height: 360px;
}

.about-colum__img {
    Width: 68px;
    margin-bottom: 15px;
}

.about-column__tittle {
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: var(--red);
    margin-bottom: 15px;
}

.about-column__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-main);  
    margin-bottom: 15px;
}

.button-filled-red {
    
}

