.welkome-wrapper {
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 500px;
    padding-top: 57px;
    margin-bottom: 116px;
}

.container {

}

.welkome {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.welkome-block {
    
}

.img {

}

.about__img {

}

.welcome-block {

}

.welcome__tittle {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: var(--black);
    margin-bottom: 24px;

}



.red {
    color: var(--red);
    font-weight: 500;
}

.welcome__text {
    font-size: 18px;
    line-height: 27px;
    color: var(--grey-main);
}

.margin-paragraf {
    margin-bottom: 15px;
}