.button-filled-red{
    display: inline-block;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 20px;
}

.button-filled-red.small {
    padding: 8px 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 144.69%;
}

